{:deps
  {com.taoensso/timbre {:mvn/version "4.10.0"}
   org.clojure/clojure {:mvn/version "1.10.0"}
   org.clojure/tools.nrepl {:mvn/version "0.2.13"}
   org.clojure/tools.analyzer {:mvn/version "0.7.0"}
   org.clojure/tools.analyzer.jvm {:mvn/version "0.7.2"}}
 :paths ["src" "resources"]
 :aliases {:compile {:main-opts ["-m" "donkeyblend.core"]}
           :dev {:extra-paths ["dev" "test"]
                 :extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
                 :main-opts  ["-m" "rebel-readline.main"]}
           :test {:extra-paths ["dev" "test"]
                  :extra-deps {com.cognitect/test-runner
                               {:git/url "https://github.com/cognitect-labs/test-runner"
                                :sha "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}
                  :main-opts ["-m" "cognitect.test-runner"
                              "-d" "test"]}
           :pack {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                                :sha "d9023b24c3d589ba6ebc66c5a25c0826ed28ead5"}}
                  :main-opts ["-m" "mach.pack.alpha.skinny" "--no-libs"  "--project-path" "donkeyblend.jar"]}
           :deploy {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "donkeyblend.jar"]}}}
