{:deps
  {eltonlaw/donkeyblend {:git/url "https://github.com/eltonlaw/donkeyblend"
                         :sha "b1f26b2f228af864d7e97d76a006ca4760fc0226"}
   org.clojure/clojure {:mvn/version "1.10.0"}
   org.clojure/tools.nrepl {:mvn/version "0.2.13"}} 
 :paths ["./"]
 :aliases {:build {:main-opts ["-m" "basic"]}}}
