{:deps
  {eltonlaw/donkeyblend {:git/url "https://github.com/eltonlaw/donkeyblend"
                         :sha "d04e134a8c1bbbf5506d36f53249f3413598e45f"}
   org.clojure/clojure {:mvn/version "1.10.0"}
   org.clojure/tools.nrepl {:mvn/version "0.2.13"}} 
 :paths ["./"]
 :aliases {:build {:main-opts ["-m" "basic"]}}}
